html{
    height: 100%
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
    zoom: 175%
}

.linkImages {
    vertical-align: middle;
    margin-right: .5vw;
    margin-left: auto;
    height: 3vw;
    background-color: transparent;
}

body {
    background-image: url('../img/lightning.gif') ;
    height: auto;
    width: 100%

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blsLogo {
    display: block;
    margin-top: 0vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15vw;
    width: 80vw;
}

.blsGif {
    zoom: 100%;
    height: 8vw;
}

.link {
    font: bold 2vw Courier New;
    text-decoration: none;
    color: black;
}

.linkLogo {
    align-items: center;
    text-align: center;
    background-color: white;
    outline-color: rgb(217, 105, 0);
    outline-width: .25vw;
    outline-style: solid;
    border-radius: 1vw;
    width: 30vw;
    padding: 2vw 8vw;
    margin: 1vw auto;
    margin-bottom: 5vw;
    /*box-shadow: 5px 5px gray;*/
}